/*need full div for all cover pages. Only use section to divide up into logical text parts not for*/

/*override Bootstrap jumbotron for full screen landing page*/
html, body{
	height:100%;
	margin: 0pxs;
}

/*Full screen splash page*/
.jumbotron{
	height:100%;
}

.splash{
	background-color:#336699;
}

.fullscreen{
	height:100%;
	min-height:100%;
	overflow-y: hidden;
}

/*reset page font size to allow easy translation (0.8em = 8px) 62.5% */
body {
	background-size:cover;
	background-color: #FFFFFF;
	font-family: Orator Std;
	font-size: 15px;
}

@font-face{
	font-family: Orator Std;
	src: url(/fonts/OratorStd.otf);
	font-family: Draftsman;
	src: url(/fonts/Draftsman.ttf);
	font-family: 'Reenie Beanie', cursive;
}

.splash h1{
	font-size: 12vw;
	margin:0vw;
	color: #FFFFFF;
}

/*change this from vw later */
h2{
	font-family: Reenie Beanie;
	font-size: 4vw;
}

/*change this later */
h3{
	font-size: 2vw;
}

.splash h3{
	font-size: 3vw;
	margin: 0vw;
	margin-left: 1vw;
	color: #FFFFFF;

}

/*
.jumbotron{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
  	background-color:#336699;
}
*/
/*
.fullscreen{
	height:100%;
	min-height:100%;
}
*/

/*center div horizontally-vertically to screen size*/
/*.absolute-center{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */

/*display div horizontally-vertically centered to screen size */
.centered{
	position: absolute;
	top:50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
