/*need full div for all cover pages. Only use section to divide up into logical text parts not for*/

/*override Bootstrap jumbotron for full screen landing page*/
html, body{
	height:100%;
	margin: 0px;
}

/*test remove */
/*
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
*/

/*Full screen splash page*/
.jumbotron{
	height:100%;
}

.splash{
	background-color:#336699;
}

/*Change to hand on hover */
/*li { cursor: pointer; cursor: hand; }*/

/*Modal windows*/
.img-responsive{
	cursor: pointer;
	-webkit-background-clip: none;
	-webkit-box-shadow: none;
}

.modal-header{
	border-bottom: none;
}

div.modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    text-align: left;
}

.post .img-responsive{
	margin-bottom: -20px;
}

.modal-backdrop {
   background-color: white;
}

.modal-backdrop.in{
	opacity: 1;
}

.static{
	top: 0;
	position:fixed;

}

/* Important part */
.modal-dialog{
    overflow-y: initial;
}
.modal-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

/* Small devices, Medium, and Large Devices*/


@media (min-width: 768px) {
	.modal .modal-dialog { width: 768px; }
}


.fullscreen{
	height:100%;
	min-height:100%;
	overflow-y: hidden;
}

.spacer {
    margin-top: 40px;
}

/*reset page font size to allow easy translation (0.8em = 8px) 62.5% */
body {
	background-size:cover;
	background-color: #FFFFFF;
	font-family: Orator Std;
	font-size: 15px;
}

@font-face{
	font-family: Orator Std;
	src: url(/fonts/OratorStd.otf);
	font-family: Draftsman;
	src: url(/fonts/Draftsman.ttf);
	font-family: 'Reenie Beanie', cursive;
}

.splash h1{
	font-size: 12vw;
	margin:0vw;
	color: #FFFFFF;
}

/*change this from vw later */
h2{
	font-family: Reenie Beanie;
	font-size: 300%;
}

/*change this later */
h4{
	font-size: 150%;
	font-weight: 400;
}

h5{
	font-size: 120%;
}

.description{
	font-size: 85%;
	margin-top: 8px;
	margin-bottom: 20px;
}
.splash h3{
	font-size: 3vw;
	margin: 0vw;
	margin-left: 1vw;
	color: #FFFFFF;

}

a:hover {
	color: #E1E5E9;
}

a {
	color: #336699;
}

/*
.jumbotron{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
  	background-color:#336699;
}
*/
/*
.fullscreen{
	height:100%;
	min-height:100%;
}
*/

/*center div horizontally-vertically to screen size*/
/*.absolute-center{
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */

/*display div horizontally-vertically centered to screen size */
.centered{
	position: absolute;
	top:50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.abs-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 50%;
	height: 50%;
	margin-right: 32%;
	vertical-align: middle;
}

#showLeftPush{
	position: fixed; 
	left:20px;
	top:15px;
	/*color: #336699;*/
	color:black;
	z-index: 1010;
}

/*
#mini{
	color:#336699;
	position: fixed;
	left:20px;
	top:10px;
	z-index:1010;
}

#mini h6{
	margin-left:3px;
	margin-bottom:-15px;
	font-size: 18px;
}

#mini h3{
	font-size: 40px;
	margin-bottom:0px;
}
*/
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:0;
    box-shadow:none;
}

#showLeftPush:hover{
	color:#E1E5E9;
}

/*Push menu via http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/*/
/* General styles for all menus */

/*Menu body*/
.cbp-spmenu {
	background: #A6B1BC;
	position: fixed;
}

/*Top of menu*/
.cbp-spmenu h3 {
	color: #000000;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #A6B1BC;
	height:50px;
}

/*Menu text*/
.cbp-spmenu a {
	display: block;
	color: #000000;
	/*font-size: 1.1em;*/
	font-size: 1.3em;
	font-weight: 300;
	margin-left: 10px;
}

/*Hover blocks*/
.cbp-spmenu a:hover {
	background: #A6B1BC;
	color: #E1E5E9;
	text-decoration: none;
}

.cbp-spmenu a:link{
	text-decoration:none;
}

/*click*/
.cbp-spmenu a:active {
	background: #A6B1BC;
	color: #E1E5E9;
	text-decoration:none;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: none;
	padding: none;
}

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

/* Masonry for Bootstrap. Modified from justincarroll https://gist.github.com/justincarroll/5959773 
*
*/

/* Grid */


#posts { 
	margin: 30px auto 0; 
}

.post {
	margin: 0 0 50px;
	text-align: center;
	width: 100%;
}

.post img { 
	padding: 0 15px; 
	width: 100%; 
}

#grid.container .post img { padding: 0; }


/* Small devices */

@media (min-width: 768px) {
	#grid > #posts .post { width: 335px; }
	#grid > #posts .post.cs2 { width: 100%; }
	.post img { padding: 0; }
}

/* Medium and Large devices */

@media (min-width: 992px) {
	#grid > #posts .post { width: 445px; }
	#grid > #posts .post.cs2 { width: 100%; }
}


/* Large devices */

/*
@media (min-width: 1200px) {
	#grid > #posts .post { width: 346px; }
	#grid > #posts .post.cs2 { width: 742px; }
}
*/

/* Large devices min-width (1200px) + a .post margin (50px) * 2 (100px) = 1300px */
/* 1300px gives me the clearance I need to keep the margins of the entire #grid (the
bleed if you will) the same width as the .post margins posts (50px). Basically I'm
being really picky about whitespace. If you don't care, no problem, just delete this.
Can this be done with Masonry options? */

/*
@media (min-width: 1300px) {
	#grid {
		left: -50px;
		padding-left: 50px;
		padding-right: 50px;
		position: relative;
    	}
	#grid.container {
		left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}
*/

/*End Masonry */